<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Enter new tires</title>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Fleet</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/}">Home</a></li>
					<li class="dropdown" sec:authorize="hasRole('ROLE_OPER')"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Office
							administration <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/office/administration/}"> Office</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/workingHours/administration/}"> Working hours</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/user/administration}"> User Admin</a></li>
						</ul></li>
					<li class="dropdown" sec:authorize="hasRole('ROLE_OPER')"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Rent
							administration <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/reservation/administration/}">Reservations</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/option/administration/}"> Options</a></li>
						</ul></li>
					<li class="dropdown" sec:authorize="hasRole('ROLE_OPER')"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Vehicle
							administration <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/vehicle/administration/}"> Vehicles</a></li>
							<li><a th:href="@{/damage/administration/}"> Damages</a></li>
							<li><a th:href="@{/tires/administration/}"> Tires</a></li>
							<li><a th:href="@{/navigation/administration/}">
									Navigation</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/specification/administration/}"> Vehicle
									specification</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/engine/administration/}"> Engine Admin</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a
						th:href="@{/user/registration/}"><span
							class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">
							<span class="glyphicon glyphicon-log-in"></span> Login
					</a></li>
					<li sec:authorize="isAuthenticated()"><a
						href="javascript: document.logoutForm.submit()"> <span
							class="glyphicon glyphicon-log-out"></span> Logout
					</a></li>
				</ul>
			</div>
			<form name="logoutForm" th:action="@{/logout}" method="post"
				th:hidden="true">
				<input hidden="hidden" type="submit" value="Sign Out" />
			</form>
		</div>
	</nav>


	<h2>Enter new set of tires</h2>
	<form method="POST" th:object="${addTire}" th:action="@{/tires/add/}">
		<div class="form-group">
			<label for="manufacturingYear">Year:</label> <input type="number"
				class="form-control" id="manufacturingYear"
				th:field="*{manufacturingYear}"
				th:value="${session.addingTire.manufacturingYear}" min="2000"
				max="2099" step="1">
		</div>
		<div class="form-group">
			<label for="width">Width:</label> <input type="number"
				class="form-control" id="width" th:field="*{width}"
				th:value="${session.addingTire.width}" min="100" max="300" step="5">
		</div>

		<div class="form-group">
			<label for="aspectRatio">Ratio:</label> <input type="number"
				class="form-control" id="aspectRatio" th:field="*{aspectRatio}"
				th:value="${session.addingTire.aspectRatio}" min="30" max="200"
				step="5">
		</div>

		<div class="form-group">
			<label for="wheelDiameter">Diameter:</label> <input type="number"
				class="form-control" id="wheelDiameter" th:field="*{wheelDiameter}"
				th:value="${session.addingTire.wheelDiameter}" min="9" max="30"
				step="1">
		</div>

		<div class="form-group">
			<label for="tireBrand">Tire brand:</label> <select
				th:field="*{tireBrand}" class="form-control" id="tireBrand">
				<option th:each="brand : ${tireBrands}" th:value="${brand.id}"
					th:text="${brand.brand}"></option>
			</select>
		</div>
		<div class="form-group">
			<label for="tireType">Tire type:</label> <select
				th:field="*{tireType}" class="form-control" id="tireType">
				<option th:each="type : ${tireTypes}" th:value="${type.id}"
					th:text="${type.type}"></option>
			</select>
		</div>
		<div class="form-group">
			<label for="wheelType">Tire type:</label> <select
				th:field="*{wheelType}" class="form-control" id="wheelType">
				<option th:each="wheel : ${wheelTypes}" th:value="${wheel.id}"
					th:text="${wheel.type}"></option>
			</select>
		</div>

		<div class="form-group">
			<label>Vehicle:</label> <input list="vehicles" class="form-control"
				th:field="*{vehicle}">
			<datalist id="vehicles">
				<option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}"
					th:text="${vehicle.registrationNumber}"></option>
			</datalist>
		</div>

		<input type="submit" th:value="Submit" name="action"> <input
			type="submit" th:value="Cancel" name="action">
	</form>
</body>
</html>