<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css" />

<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
<title>Office vehicles</title>
</head>
<body>
	<script>
		$(document).ready(function() {
			$('#mTable').DataTable();
		});
		$(document).ready(function() {
			$('#eTable').DataTable();
		});
		$(document).ready(function() {
			$('#cTable').DataTable();
		});
		$(document).ready(function() {
			$('#iTable').DataTable();
		});
		$(document).ready(function() {
			$('#fTable').DataTable();
		});
		$(document).ready(function() {
			$('#pTable').DataTable();
		});
	</script>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Fleet</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">Home</a></li>
					<li class="dropdown" sec:authorize="hasRole('ROLE_OPER')"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Office
							administration <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/office/administration/}"> Office</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/workingHours/administration/}"> Working hours</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/user/administration}"> User Admin</a></li>
						</ul></li>
					<li class="dropdown" sec:authorize="hasRole('ROLE_OPER')"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Rent
							administration <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/reservation/administration/}">Reservations</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/option/administration/}"> Options</a></li>
						</ul></li>
					<li class="dropdown" sec:authorize="hasRole('ROLE_OPER')"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Vehicle
							administration <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/vehicle/administration/}"> Vehicles</a></li>
							<li><a th:href="@{/damage/administration/}"> Damages</a></li>
							<li><a th:href="@{/tires/administration/}"> Tires</a></li>
							<li><a th:href="@{/navigation/administration/}">
									Navigation</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/specification/administration/}"> Vehicle
									specification</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/engine/administration/}"> Engine Admin</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a
						th:href="@{/user/registration/}"><span
							class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">
							<span class="glyphicon glyphicon-log-in"></span> Login
					</a></li>
					<li sec:authorize="isAuthenticated()"><a
						href="javascript: document.logoutForm.submit()"> <span
							class="glyphicon glyphicon-log-out"></span> Logout
					</a></li>
				</ul>
			</div>
			<form name="logoutForm" th:action="@{/logout}" method="post"
				th:hidden="true">
				<input hidden="hidden" type="submit" value="Sign Out" />
			</form>
		</div>
	</nav>



	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Office vehicles</h1>
		</div>
		<div class="col-md-12 panel panel-default">
			<h2>Mini Vehicles</h2>
			<table class="table" id="mTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>VIN</th>
						<th>Registration</th>
						<th>Year</th>
						<th>KM</th>
						<th>Manufacturer</th>
						<th>Model</th>
						<th>Group</th>
						<th>Fuel Level</th>
						<th>Tire</th>
						<th>Specification</th>
						<th>Damages</th>
						<th>Navigation</th>
						<th>In rent</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mVehicle : ${mVehicles}">
						<td th:text="${mVehicle.id}"></td>
						<td th:text="${mVehicle.VIN}"></td>
						<td th:text="${mVehicle.registrationNumber}"></td>
						<td th:text="${mVehicle.manufactoringYear}"></td>
						<td th:text="${mVehicle.currentKM}"></td>
						<td th:text="${mVehicle.manufacturer.carManufacturer}"></td>
						<td th:text="${mVehicle.model.carModel}"></td>
						<td th:text="${mVehicle.carGroup.carGroup}"></td>
						<td th:text="${mVehicle.fuelLevel}"></td>
						<td><a
							th:href="'/tires/administration/' + ${mVehicle.tire.id}">Tires</a></td>
						<td><a
							th:href="'/specification/administration/' + ${mVehicle.specification.id}">Specification</a></td>
						<td th:if="${#lists.size(mVehicle.damages) != 0}"><a
							th:href="@{'/damage/administration/vehicle/' + ${mVehicle.id}}">Damages</a></td>
						<td th:if="${#lists.size(mVehicle.damages) == 0}">No damages</td>

						<td th:if="${mVehicle.navigation != null}"
							th:text="${mVehicle.navigation.model}"></td>
						<td th:if="${mVehicle.navigation == null}">Pick navigation</td>

						<td th:if="${mVehicle.navigation != null}"><a
							th:href="@{'/navigation/administration/' + ${mVehicle.navigation.id}}">Navigation</a>
						</td>
						<td th:if="${mVehicle.navigation == null}">No navigation</td>


						<td th:text="${mVehicle.rented}"></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{'/office/requestVehicle/Mini/' + ${officeID}}">Request
				transfer</a>
		</div>


		<div class="col-md-12 panel panel-default">
			<h2>Economy Vehicles</h2>
			<table class="table" id="eTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>VIN</th>
						<th>Registration</th>
						<th>Year</th>
						<th>KM</th>
						<th>Manufacturer</th>
						<th>Model</th>
						<th>Group</th>
						<th>Fuel Level</th>
						<th>Tire</th>
						<th>Specification</th>
						<th>Damages</th>
						<th>Navigation</th>
						<th>In rent</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="eVehicle : ${eVehicles}">
						<td th:text="${eVehicle.id}"></td>
						<td th:text="${eVehicle.VIN}"></td>
						<td th:text="${eVehicle.registrationNumber}"></td>
						<td th:text="${eVehicle.manufactoringYear}"></td>
						<td th:text="${eVehicle.currentKM}"></td>
						<td th:text="${eVehicle.manufacturer.carManufacturer}"></td>
						<td th:text="${eVehicle.model.carModel}"></td>
						<td th:text="${eVehicle.carGroup.carGroup}"></td>
						<td th:text="${eVehicle.fuelLevel}"></td>
						<td><a
							th:href="'/tires/administration/' + ${eVehicle.tire.id}">Tires</a></td>
						<td><a
							th:href="'/specification/administration/' + ${eVehicle.specification.id}">Specification</a></td>
						<td th:if="${#lists.size(eVehicle.damages) != 0}"><a
							th:href="@{'/damage/administration/vehicle/' + ${eVehicle.id}}">Damages</a></td>
						<td th:if="${#lists.size(eVehicle.damages) == 0}">No damages</td>

						<td th:if="${eVehicle.navigation != null}"><a
							th:href="@{'/navigation/administration/' + ${eVehicle.navigation.id}}">Navigation</a>
						</td>
						<td th:if="${eVehicle.navigation == null}">No navigation</td>

						<td th:text="${eVehicle.rented}"></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{'/office/requestVehicle/Economy/' + ${officeID}}">Request
				transfer</a>
		</div>


		<div class="col-md-12 panel panel-default">
			<h2>Compact Vehicles</h2>
			<table class="table" id="cTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>VIN</th>
						<th>Registration</th>
						<th>Year</th>
						<th>KM</th>
						<th>Manufacturer</th>
						<th>Model</th>
						<th>Group</th>
						<th>Fuel Level</th>
						<th>Tire</th>
						<th>Specification</th>
						<th>Damages</th>
						<th>Navigation</th>
						<th>In rent</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cVehicle : ${cVehicles}">
						<td th:text="${cVehicle.id}"></td>
						<td th:text="${cVehicle.VIN}"></td>
						<td th:text="${cVehicle.registrationNumber}"></td>
						<td th:text="${cVehicle.manufactoringYear}"></td>
						<td th:text="${cVehicle.currentKM}"></td>
						<td th:text="${cVehicle.manufacturer.carManufacturer}"></td>
						<td th:text="${cVehicle.model.carModel}"></td>
						<td th:text="${cVehicle.carGroup.carGroup}"></td>
						<td th:text="${cVehicle.fuelLevel}"></td>
						<td><a
							th:href="'/tires/administration/' + ${cVehicle.tire.id}">Tires</a></td>
						<td><a
							th:href="'/specification/administration/' + ${cVehicle.specification.id}">Specification</a></td>
						<td th:if="${#lists.size(cVehicle.damages) != 0}"><a
							th:href="@{'/damage/administration/vehicle/' + ${cVehicle.id}}">Damages</a></td>
						<td th:if="${#lists.size(cVehicle.damages) == 0}">No damages</td>

						<td th:if="${cVehicle.navigation != null}"><a
							th:href="@{'/navigation/administration/' + ${cVehicle.navigation.id}}">Navigation</a>
						</td>
						<td th:if="${cVehicle.navigation == null}">No navigation</td>

						<td th:text="${cVehicle.rented}"></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{'/office/requestVehicle/Compact/' + ${officeID}}">Request
				transfer</a>
		</div>


		<div class="col-md-12 panel panel-default">
			<h2>Intermediate Vehicles</h2>
			<table class="table" id="iTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>VIN</th>
						<th>Registration</th>
						<th>Year</th>
						<th>KM</th>
						<th>Manufacturer</th>
						<th>Model</th>
						<th>Group</th>
						<th>Fuel Level</th>
						<th>Tire</th>
						<th>Specification</th>
						<th>Damages</th>
						<th>Navigation</th>
						<th>In rent</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="iVehicle : ${iVehicles}">
						<td th:text="${iVehicle.id}"></td>
						<td th:text="${iVehicle.VIN}"></td>
						<td th:text="${iVehicle.registrationNumber}"></td>
						<td th:text="${iVehicle.manufactoringYear}"></td>
						<td th:text="${iVehicle.currentKM}"></td>
						<td th:text="${iVehicle.manufacturer.carManufacturer}"></td>
						<td th:text="${iVehicle.model.carModel}"></td>
						<td th:text="${iVehicle.carGroup.carGroup}"></td>
						<td th:text="${iVehicle.fuelLevel}"></td>
						<td><a
							th:href="'/tires/administration/' + ${iVehicle.tire.id}">Tires</a></td>
						<td><a
							th:href="'/specification/administration/' + ${iVehicle.specification.id}">Specification</a></td>
						<td th:if="${#lists.size(iVehicle.damages) != 0}"><a
							th:href="@{'/damage/administration/vehicle/' + ${iVehicle.id}}">Damages</a></td>
						<td th:if="${#lists.size(iVehicle.damages) == 0}">No damages</td>

						<td th:if="${iVehicle.navigation != null}"><a
							th:href="@{'/navigation/administration/' + ${iVehicle.navigation.id}}">Navigation</a>
						</td>
						<td th:if="${iVehicle.navigation == null}">No navigation</td>

						<td th:text="${iVehicle.rented}"></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{'/office/requestVehicle/Intermediate/' + ${officeID}}">Request
				transfer</a>
		</div>


		<div class="col-md-12 panel panel-default">
			<h2>Family Vehicles</h2>
			<table class="table" id="fTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>VIN</th>
						<th>Registration</th>
						<th>Year</th>
						<th>KM</th>
						<th>Manufacturer</th>
						<th>Model</th>
						<th>Group</th>
						<th>Fuel Level</th>
						<th>Tire</th>
						<th>Specification</th>
						<th>Damages</th>
						<th>Navigation</th>
						<th>In rent</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fVehicle : ${fVehicles}">
						<td th:text="${fVehicle.id}"></td>
						<td th:text="${fVehicle.VIN}"></td>
						<td th:text="${fVehicle.registrationNumber}"></td>
						<td th:text="${fVehicle.manufactoringYear}"></td>
						<td th:text="${fVehicle.currentKM}"></td>
						<td th:text="${fVehicle.manufacturer.carManufacturer}"></td>
						<td th:text="${fVehicle.model.carModel}"></td>
						<td th:text="${fVehicle.carGroup.carGroup}"></td>
						<td th:text="${fVehicle.fuelLevel}"></td>
						<td><a
							th:href="'/tires/administration/' + ${fVehicle.tire.id}">Tires</a></td>
						<td><a
							th:href="'/specification/administration/' + ${fVehicle.specification.id}">Specification</a></td>
						<td th:if="${#lists.size(fVehicle.damages) != 0}"><a
							th:href="@{'/damage/administration/vehicle/' + ${fVehicle.id}}">Damages</a></td>
						<td th:if="${#lists.size(fVehicle.damages) == 0}">No damages</td>

						<td th:if="${fVehicle.navigation != null}"><a
							th:href="@{'/navigation/administration/' + ${fVehicle.navigation.id}}">Navigation</a>
						</td>
						<td th:if="${fVehicle.navigation == null}">No navigation</td>

						<td th:text="${fVehicle.rented}"></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{'/office/requestVehicle/Family/' + ${officeID}}">Request
				transfer</a>
		</div>


		<div class="col-md-12 panel panel-default">
			<h2>Premium Vehicles</h2>
			<table class="table" id="pTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>VIN</th>
						<th>Registration</th>
						<th>Year</th>
						<th>KM</th>
						<th>Manufacturer</th>
						<th>Model</th>
						<th>Group</th>
						<th>Fuel Level</th>
						<th>Tire</th>
						<th>Specification</th>
						<th>Damages</th>
						<th>Navigation</th>
						<th>In rent</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pVehicle : ${pVehicles}">
						<td th:text="${pVehicle.id}"></td>
						<td th:text="${pVehicle.VIN}"></td>
						<td th:text="${pVehicle.registrationNumber}"></td>
						<td th:text="${pVehicle.manufactoringYear}"></td>
						<td th:text="${pVehicle.currentKM}"></td>
						<td th:text="${pVehicle.manufacturer.carManufacturer}"></td>
						<td th:text="${pVehicle.model.carModel}"></td>
						<td th:text="${pVehicle.carGroup.carGroup}"></td>
						<td th:text="${pVehicle.fuelLevel}"></td>
						<td><a
							th:href="'/tires/administration/' + ${pVehicle.tire.id}">Tires</a></td>
						<td><a
							th:href="'/specification/administration/' + ${pVehicle.specification.id}">Specification</a></td>
						<td th:if="${#lists.size(pVehicle.damages) != 0}"><a
							th:href="@{'/damage/administration/vehicle/' + ${pVehicle.id}}">Damages</a></td>
						<td th:if="${#lists.size(pVehicle.damages) == 0}">No damages</td>

						<td th:if="${pVehicle.navigation != null}"><a
							th:href="@{'/navigation/administration/' + ${pVehicle.navigation.id}}">Navigation</a>
						</td>
						<td th:if="${pVehicle.navigation == null}">No navigation</td>

						<td th:text="${mVehicle.rented}"></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{'/office/requestVehicle/Premium/' + ${officeID}}">Request
				transfer</a>
		</div>
	</div>
</body>
</html>