<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css" />

<script type="text/javascript"
	src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
<title>Office administration</title>
</head>
<body>

	<script>
		$(document).ready(function() {
			$('#officeTable').DataTable();
		});
	</script>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Fleet</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">Home</a></li>
					<li class="dropdown" sec:authorize="hasRole('ROLE_OPER')"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Office
							administration <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li class="active"><a th:href="@{/office/administration/}"> Office</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/workingHours/administration/}"> Working hours</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/user/administration}"> User Admin</a></li>
						</ul></li>
					<li class="dropdown" sec:authorize="hasRole('ROLE_OPER')"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Rent
							administration <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/reservation/administration/}">Reservations</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/option/administration/}"> Options</a></li>
						</ul></li>
					<li class="dropdown" sec:authorize="hasRole('ROLE_OPER')"><a
						class="dropdown-toggle" data-toggle="dropdown" href="#">Vehicle
							administration <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/vehicle/administration/}"> Vehicles</a></li>
							<li><a th:href="@{/damage/administration/}"> Damages</a></li>
							<li><a th:href="@{/tires/administration/}"> Tires</a></li>
							<li><a th:href="@{/navigation/administration/}">
									Navigation</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/specification/administration/}"> Vehicle
									specification</a></li>
							<li sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/engine/administration/}"> Engine Admin</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a
						th:href="@{/user/registration/}"><span
							class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">
							<span class="glyphicon glyphicon-log-in"></span> Login
					</a></li>
					<li sec:authorize="isAuthenticated()"><a
						href="javascript: document.logoutForm.submit()"> <span
							class="glyphicon glyphicon-log-out"></span> Logout
					</a></li>
				</ul>
			</div>
			<form name="logoutForm" th:action="@{/logout}" method="post"
				th:hidden="true">
				<input hidden="hidden" type="submit" value="Sign Out" />
			</form>
		</div>
	</nav>



	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Office administration</h1>
		</div>
		<div class="col-md-12">
			<table class="table" id="officeTable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Address</th>
						<th>Working Hours</th>
						<th>Vehicles</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Remove</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="office : ${offices}">
						<td th:text="${office.id}"></td>
						<td th:text="${office.name}"></td>
						<td th:text="${office.address}"></td>
						<td><a
							th:href="@{'/workingHours/administration/' + ${office.workingHours.id}}">Working
								Hours </a></td>
						<td><a th:href="@{'/office/vehicles/' + ${office.id}}">Vehicles</a></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')">
							<form th:action="@{'/office/delete/' + ${office.id}}"
								method="post">
								<button>Remove</button>
							</form>
						</td>
						<td sec:authorize="hasRole('ROLE_ADMIN')">
							<form th:action="@{'/office/edit/' + ${office.id}}" method="get">
								<button>Edit</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<form th:action="@{/office/add/}" method="get"
			sec:authorize="hasRole('ROLE_ADMIN')">
			<button>Add new office</button>
		</form>
	</div>
</body>
</html>