<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<title>Damage administration</title>
</head>
<body>


	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Damage administration</h1>
		</div>
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Type</th>
						<th>Size</th>
						<th>Repaired</th>
						<th>Rental Agreement</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="dam : ${damages}">
						<td th:text="${dam.id}"></td>
						<td th:text="${dam.type.type}"></td>
						<td th:text="${dam.size.size}"></td>
						<td th:text="${dam.repaired}"></td>

						<td>
							<a th:href="@{'/ra/administration/' + ${dam.ra.id}}">Rental agreement</a>
						</td>
						<td>
							<form th:action="@{'/damage/delete/' + ${dam.id}}"
								method="post">
								<button>Remove</button>
							</form>
						</td>
						<td>
							<form th:action="@{'/damage/edit/' + ${dam.id}}" method="get">
								<button>Edit</button>
							</form>
						</td>
						<td>
							<form th:action="@{'/damage/fix/' + ${office.id}}" method="get">
								<button>Fix</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<form th:action="@{/damage/add/}" method="get">
			<button>Add new damage</button>
		</form>
	</div>
</body>
</html>