
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>

    <div style="text-align: center" sec:authorize="isAuthenticated()">
        <form method="POST" th:action="@{/logout}">
            <p><span> You are logged in as: </span><span sec:authentication="name"></span></p>
            <input type="submit" value="Logout" class="btn btn-danger gumb">
        </form>
            
    </div>
    <div style="text-align: center" sec:authorize="!isAuthenticated()">
		<a th:href="@{/user/registration/}">Register</a>
		<a th:href="@{/login}">Login</a>      
    </div>


	<div>
		<p>Test</p>
	</div>
	<a th:href="@{/vehicle/administration/}"> Vehicle Admin</a>
	<a th:href="@{/user/administration}"> User Admin</a>
	<a th:href="@{/office/administration}"> Office Admin</a>
	<a th:href="@{/workingHours/administration/}"> WH Admin</a>
	<a th:href="@{/tires/administration/}"> Tires Admin</a>
	<a th:href="@{/engine/administration/}"> Engine Admin</a>
	<a th:href="@{/specification/administration/}"> Spec Admin</a>
	<a th:href="@{/navigation/administration/}"> Nav Admin</a>
	<a th:href="@{/damage/administration/}"> Damage Admin</a>
	<a th:href="@{/option/administration/}"> Option Admin</a>


</body>
</html>