<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<title>Registration</title>
</head>
<body>
	<h2>Enter new user</h2>
	<form method="POST" th:object="${addUser}" th:action="@{/user/registration/}">
		<div class="form-group">
			<label for="username">Username:</label> <input type="text"
				class="form-control" id="username" th:field="*{username}"
				th:value="${session.addingUser.username}" required>
		</div>
		<div class="form-group">
			<label for="password">Password:</label> <input type="password"
				class="form-control" id="password" th:field="*{password}"
				th:value="${session.addingUser.password}" required="required">
		</div>
		<div class="form-group">
			<label for="email">Email:</label> <input pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
				class="form-control" id="email" th:field="*{email}"
				th:value="${session.addingUser.email}" required>
		</div>

		<input type="submit" th:value="Submit" name="action"> <input
			type="submit" th:value="Cancel" name="action">
	</form>
</body>
</html>