<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<title>Office edit</title>
</head>
<body>
	<h2>Office edit</h2>
	<form method="POST" th:object="${editSpec}"
		th:action="@{'/specification/edit/' + *{id}}">
				<div class="form-group">
			<label for="VIN">VIN:</label> <input type="text"
				class="form-control" id="VIN" th:field="*{VIN}"
				th:value="${session.addingVehicle.VIN}">
		</div>

		<div class="form-group">
			<label for="registration">Registration plate:</label> <input type="text"
				class="form-control" id="registration" th:field="*{registrationNumber}"
				th:value="${session.addingVehicle.registrationNumber}">
		</div>

		<div class="form-group">
			<label for="manufactoringYear">Year:</label> <input type="number"
				class="form-control" id="manufactoringYear" th:field="*{manufactoringYear}"
				th:value="${session.addingVehicle.manufactoringYear}" min="2000" max="2099" step="1">
		</div>

		<div class="form-group">
		<label>Manufacturer:</label>
			<select th:field="*{manufacturer}" class="form-control">
				<option th:each="man : ${manufacturers}" th:value="${man.id}"
					th:text="${man.carManufacturer}"></option>
			</select>
		</div>

		<div class="form-group">
		<label>Model:</label>
			<select th:field="*{model}" class="form-control">
				<option th:each="model : ${models}" th:value="${model.id}"
					th:text="${model.carModel}"></option>
			</select>
		</div>


		<div class="form-group">
		<label>Car Group:</label>
			<select th:field="*{carGroup}" class="form-control">
				<option th:each="group : ${groups}" th:value="${group.id}"
					th:text="${group.group}"></option>
			</select>
		</div>

		<div class="form-group">
			<label for="fuelLevel">Fuel level:</label> <input type="number"
				class="form-control" id="fuelLevel" th:field="*{fuelLevel}"
				th:value="${session.addingVehicle.fuelLevel}" min="0" max="8" step="1">
		</div>

		<div class="form-group">
		<label>Specification:</label>
			<input list="specifications" class="form-control" th:field="*{specification}">
			<datalist id="specifications">
				<option th:each="spec : ${specs}" th:text="${'Doors:' + spec.doors + ' FuelTank:' + spec.fuelTankCapacity + ' Seats:' + spec.numberOfSeats}" th:value="${spec.id}"></option>
			</datalist>
		</div>


		<div class="form-group">
		<label>Tires:</label>
			<select th:field="*{tire}" class="form-control">
				<option th:each="tire : ${tires}" th:value="${tire.id}"
					th:text="${tire.manufacturingYear + ' ' + tire.tireType.type + ' ' + tire.tireBrand.brand + ' ' + tire.width + '/' + tire.aspectRatio + '/' + tire.wheelDiameter}"></option>
			</select>
		</div>

		<input type="submit" th:value="Submit" name="action"> <input
			type="submit" th:value="Cancel" name="action">
	</form>
</body>
</html>