<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<title>Vehicle administration</title>
</head>
<body>


	<div class="col-md-12">
		<div class="col-md-12">
			<h1 class="col-md-3">Vehicle administration</h1>
		</div>
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>VIN</th>
						<th>Registration</th>
						<th>Year</th>
						<th>KM</th>
						<th>Manufacturer</th>
						<th>Model</th>
						<th>Group</th>
						<th>Fuel Level</th>
						<th>Tire</th>
						<th>Specification</th>
						<th>Damages</th>
						<th>Navigation</th>
						<th>In rent</th>
						<th>Office</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vehicle : ${vehicles}">
						<td th:text="${vehicle.vehicle.id}"></td>
						<td th:text="${vehicle.vehicle.VIN}"></td>
						<td th:text="${vehicle.vehicle.registrationNumber}"></td>
						<td th:text="${vehicle.vehicle.manufactoringYear}"></td>
						<td th:text="${vehicle.vehicle.currentKM}"></td>
						<td th:text="${vehicle.vehicle.manufacturer.carManufacturer}"></td>
						<td th:text="${vehicle.vehicle.model.carModel}"></td>
						<td th:text="${vehicle.vehicle.carGroup.carGroup}"></td>
						<td th:text="${vehicle.vehicle.fuelLevel}"></td>
						<td><a
							th:href="'/tires/administration/' + ${vehicle.vehicle.tire.id}">Tires</a></td>
						<td><a
							th:href="'/specification/administration/' + ${vehicle.vehicle.specification.id}">Specification</a></td>
						<td th:if="${#lists.size(vehicle.vehicle.damages) != 0}"><a
							th:href="@{'/damage/administration/vehicle/' + ${vehicle.vehicle.id}}">Damages</a></td>
						<td th:if="${#lists.size(vehicle.vehicle.damages) == 0}">No damages</td>

						<td th:if="${vehicle.vehicle.navigation != null}" th:text="${vehicle.vehicle.navigation.model}"></td>
						<td th:if="${vehicle.vehicle.navigation == null}">Pick navigation</td>
						
						<td th:text="${vehicle.vehicle.rented}"></td>
						
						<td th:text="${vehicle.office.name}"></td>

						<td>
							<form th:action="@{'/vehicle/delete/' + ${vehicle.vehicle.id}}"
								method="post">
								<button>Remove</button>
							</form>
						</td>
						<td>
							<form th:action="@{'/vehicle/edit/' + ${vehicle.vehicle.id}}" method="get">
								<button>Edit</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<form th:action="@{/vehicle/add/}" method="get">
			<button>Add new vehicle</button>
		</form>
	</div>
</body>
</html>